body, ul {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Helvetica Neue', sans-serif;
  background-color: #f7f9fc;
  color: #333;
}

p {
padding: 0.5rem 0.5rem;
font-family: sans-serif;
}

.container {
  width: 100%;
  min-height: 100vh;
}

.hero {
  padding: 2rem 2rem;
  text-align: center;
  background-color: #e9f2fb;
}

.hero h1 {
  font-size: 2.4rem;
  margin-bottom: 1rem;
}

.hero p {
  font-size: 1.5rem;
  max-width: 600px;
  margin: 0 auto;
}
